@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

body {
  background-color: #f7f7f7 !important;
  font-family: 'Tajawal', sans-serif !important;
}
.btn-site {
  background-color: #e54243 !important;
  color: #fff !important;
  border: 0 !important;
}

.activeLink {
  animation: mymove 3s infinite;
  /* transition: 0.3s all ease-in-out; */
}

@keyframes mymove {
  0% {transform: scale(1.0);}
  25% {transform: scale(1.1)}
  50% {transform: scale(1.0)}
  75% {transform: scale(1.1)}
  100% {transform: scale(1.0)}
}
.img-splash {
  display: none;
}

.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.svg-load {
  position: absolute;
  top: 50%;
  left: 50%;
}

.icon {
  display: none;
}

@media (max-width: 700px) {
  .svg {
    display: none !important;
  }
  .img-splash {
    display: inherit !important;
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  .icon {
    display: inherit;
  }
  .setting {
    position: fixed;
    width: 70%;
    right: -70%;
    transition: 0.3s all ease;
    height: 100%;
    text-align: right;
    background-color: #0064fe;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .item-sideBar {
    background-color: #035ae1 !important;
    color: #fff !important;
    width: 96% !important;
    margin: 2px auto !important;
    border-radius: 5px !important;
  }
  
  .btn-setting {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .toggleSideBar {
    right: 0% !important;
  }
  
}